.titulo{
	font-family: Roboto;
}

.subtitulo{
	font-family: Teachers Student;
	font-size: 30px;
}

.wix{
	font-size: 25px;
	font-family: DK Crayon Crumble;
}

.jimdo{
	font-size: 25px;
	font-family: DK Crayon Crumble;
}

.site123{
	font-size: 25px;
	font-family: DK Crayon Crumble;
}

.squarespace{
	font-size: 25px;
	font-family: DK Crayon Crumble;
}

.wordpress{
	font-size: 25px;
	font-family: DK Crayon Crumble;
}

.zyro{
	font-size: 25px;
	font-family: DK Crayon Crumble;
}